

.blog-card {
    border: solid rgb(7, 238, 26);
    border-radius: .15rem;
}

.card-header {
    color: rgb(0, 1, 5);
    background-color: rgb(99, 173, 173);
}

.card-header:first-child {
    border-radius: unset;
}

.blog-title {
    color: rgb(24, 4, 243);
}

.blog-author {
    float: right;
    font-size: medium;
}

.tech-blog {
    font-size: 30px;
    border-width: thick;
    padding: 2px;
    text-align: center;
    color: rgb(249, 249, 250);
}

.input-text {
    color: rgb(36, 4, 117);
}

.post-list {
    text-align: center;
}

.delete-button {
    float: right;
}

.dashboard-name {
    text-align: center;
}
.nav-link {
    font-size: 25px;
}